body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.clock
{
    padding: 25px;

    font-size: 1000%;
    font-weight: 100;
    color: rgb(212, 212, 212);

    border-style: solid;
    border-radius: 5px;
    border-color: gray;

    background-color: rgb(46, 46, 46);
}